In [1]:
import numpy as np
import pandas as pd

### Задание 1

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
X = pd.DataFrame(boston.data, columns=boston.feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
y = pd.DataFrame(boston.target, columns=['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=43)

In [8]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [9]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
y_pred = lr.predict(X_test)

In [11]:
check_test = pd.DataFrame({'y_test': y_test['price'], 'y_pred': y_pred.flatten()}, columns={'y_test', 'y_pred'})
check_test.head()

     y_test     y_pred
360    25.0  23.495023
391    23.2  16.642761
247    20.5  20.890863
57     31.6  34.108931
244    17.6  16.996844

In [12]:
from sklearn.metrics import r2_score

In [13]:
r2 = r2_score(y_test, y_pred)
r2

0.6913275838214491

### Задание 2

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
rfr = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [16]:
rfr.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [17]:
y_pred = rfr.predict(X_test)

In [18]:
r2 = r2_score(y_test, y_pred)
r2

0.8782098748606264

0.69 < 0.87, значит метод RandomForestRegressor работает лучше

### Задание 3

In [19]:
rfr.feature_importances_

array([0.03556683, 0.0012857 , 0.00674813, 0.0010419 , 0.01848022,
       0.51252422, 0.01242614, 0.05972692, 0.00611787, 0.01845336,
       0.0122774 , 0.01312114, 0.30223018])

In [20]:
sum(rfr.feature_importances_)

1.0

In [21]:
a = np.array(rfr.feature_importances_)
a.argsort()[-2:,]

array([12,  5], dtype=int64)

In [22]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [23]:
Признаки с наибольшей важностью - RM и LSTAT

SyntaxError: invalid syntax (<ipython-input-23-d71b08def9d1>, line 1)